@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @include size(100%, 100vh);
  @include flexCenter(row, center, center);
  background-image: radial-gradient(#303030, #4f4f4f);
}

.container {
  @include size(1000px, 600px);
  @include flexCenter(row, center, center);
  color: #fdfdfd;

  .container__task {
    @include size(300px, 600px);
    @include flexCenter(column, flex-start, center);
    background-color: #606fee;

    .container__svg {
      @include size(200px, 200px);
      @include flexCenter(column, center, center);

      img {
        @include size(100%, 100%);
      }
    }
  }

  .container__calendar {
    @include size(700px, 600px);
    background-color: #303658;

    header {
      @include flexCenter(row, flex-start, center);
      border-bottom: 1px solid #fff;
      @include size(100%, $height-header);

      .header {
        @include flexCenter(row, center, center);
        @include size(60%, $height-header);

        .arrows {
          @include flexCenter(row, center, center);
          @include size(50px, 50px);
          cursor: pointer;
          border-radius: 50%;
          transform: scale(1);
          transition: all 0.5s ease-out;

          &:hover {
            background-color: green;
          }

          &:active {
            transform: scale(0.95);
          }
          img {
            @include size(40px, 40px);
          }
        }
        #back {
          margin-right: 20px;
          padding-right: 5px;
        }
        #after {
          padding-left: 5px;
          margin-left: 20px;
        }
        h1 {
          @include size(250px, 50px);
          @include flexCenter(row, space-around, center);
        }
      }
      .select__container {
        @include size(40%, $height-header);
        padding: 0 20px;
        @include flexCenter(row, space-around, center);

        select,
        input {
          @include size(110px, 30px);
          color: #fff;
          background-color: transparent;
          padding-left: 5px;
          border-radius: 5px;
        }
        select,
        optgroup,
        option {
          border: 1px solid #fff;
          font-size: 15px;
        }

        input {
          border: 1px solid #fff;
          font-size: 15px;
          &:focus {
            border: 1px solid transparent;
            box-shadow: none;
          }
          &:active {
            border: 1px solid transparent;
            box-shadow: none;
          }
        }
      }
    }
    .container__name-days {
      @include size(100%, 40px);
      @include flexCenter(row, space-evenly, center);
      padding-top: 10px;

      p {
        @include size(14%, 20px);
        @include flexCenter(row, center, center);
        font-size: 24px;
        font-weight: bold;
        //border: 1px solid #fff;
      }
    }

    .date__container {
      font-size: 14px; //To control the size of the dates
      @include size(100%, 30em);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 20px;
      //border: 1px solid red;

      .dates__box {
        @include flexCenter(row, center, center);
        @include size(14%, 3.125em);
        //border: 1px solid #fff;

        .dates {
          @include size($size-dates, $size-dates);
          @include flexCenter(row, center, center);
          border-radius: 50%;
          font-size: 22px;
          //border: 1px solid #fff;
          cursor: pointer;
        }
        .padding_dates {
          color: #777e90;
        }
      }
    }
  }
}
