@import "./variables.scss";

.intro {
  @include size(100%, 1000px);
  margin: 0 auto;
  max-width: 1900px;
  background-image: url(../images/bg-desktop2.jpg);
  background-position: center -100px;

  header {
    @include size(100%, 4.375em);
    color: $mainColor;
    background-color: $bgHeader;
    @include flexCenter(row, space-between, center);
    font-size: 16px;

    .company-name {
      @include size(17.5em, 100%);
      @include flexCenter(row, space-around, center);
      //border: 2px solid red;
      margin-left: 3vw;

      .icon {
        width: 3.75em;
      }
      .title {
        font: 1.875em "Montserrat";
        letter-spacing: 1.5px;
      }
    }
    nav {
      margin-right: 3vw;

      ul {
        //border: 2px solid red;
        width: 30vw;
        max-width: 31.25em;
        min-width: 25em;
        @include flexCenter(row, space-around, center);

        li {
          list-style: none;
          font: 1.125em "Montserrat text";
          cursor: pointer;
          border-bottom: 1px solid transparent;
          transition: 0.2s all ease-in-out;
          &:hover {
            border-bottom: 1px solid $mainColor;
          }
        }
      }
    }
  }
  .tocenter {
    pointer-events: none;
    @include size(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    @include flexCenter(row, center, center);

    .bg-text {
      font-size: 16px;
      background-color: rgba(40, 40, 40, 0.9);
      @include size(62.5em, 8em);
      max-width: 1200px;
      color: $mainColor;
      @include flexCenter(column, center, space-around);
      border-radius: 0.9375em;
      transition: 0.2s all ease-in-out;

      .intro-message {
        margin-top: -10px;
        font: 2.375em "Montserrat text";
        letter-spacing: 2px;
        text-align: center;
        width: 100%;
        //border: 1px solid red;
      }
      .intro-caption {
        margin-top: 10px;
        text-align: right;
        padding-right: 3.5em;
        font: 1em "Montserrat text";
      }
    }
  }
}

@media (max-width: 1000px) {
  .intro {
    header {
      font-size: 14px;
    }
    .tocenter {
      .bg-text {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 759px) {
  .intro {
    header {
      font-size: 12px;
      nav {
        display: none;
      }
    }
    .tocenter {
      .bg-text {
        margin-top: 100px;
        font-size: 14px;
        @include size(60vw, 55vh);
        @include flexCenter(column, space-around, center);
        padding: 10px 30px;

        .intro-message {
          margin-top: -10px;
          letter-spacing: 2px;
          line-height: 60px;
          text-align: center;
          width: 100%;
          //border: 1px solid red;
        }
        .intro-caption {
          display: none;
        }
      }
    }
  }
}
