@import "./variables";

$time-signal-animation: 1.2s;

#signal1 {
  animation: signal $time-signal-animation linear 0s infinite;
}
#signal2 {
  animation: signal $time-signal-animation linear 0.2s infinite;
}
#signal3 {
  animation: signal $time-signal-animation linear 0.3s infinite;
}
@keyframes signal {
  from {
    fill: transparent;
  }
  to {
    fill: #6c63ff;
  }
}

#space-ship {
  animation: rocket 30s ease-in;
  z-index: 5;
  transform-origin: 50% 50%;
}

@keyframes rocket {
  50% {
    transform: translateY(-10%);
  }
  75% {
    transform: rotateZ(280deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
