@import "./variables";
$padding-left-right: 8vw;

.intro__portfolio {
  @include size(100%, 100vh);
  margin: 0 auto;
  max-width: 1900px;
  max-height: 750px;
  background-image: url(../images/world.jpg);
  background-image: url(../images/world.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;

  .container__title {
    display: block;
    font-size: 16px;
    margin-top: 25vh;
    @include size(60%, 400px);
    max-width: 700px;
    //border: 1px solid red;
    color: #f4f4f4;
    padding-left: $padding-left-right;
    z-index: 1;

    h1 {
      font-size: 52px;
      font-weight: 600;
      line-height: 60px;
      width: 600px;
      text-align: left;
    }
    p {
      margin-top: 10px;
      font-size: 18px;
    }
    .container_buttons {
      @include size(350px, 50px);
      @include flexCenter(row, space-around, center);

      .call_to_accion {
        @include flexCenter(row, center, center);
        font-size: 16px;
        font-weight: 300;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.6);
        color: $mainColor;
        @include size(150px, 45px);
        border: 1.5px solid $mainColor;
        margin-top: 40px;
        margin-right: 1em;
        cursor: pointer;
        border-radius: 0.2em;
        transition: 0.2s all ease-out;
        &:hover {
          background-color: #07334b;
        }
      }
    }
  }
  .container_svg-animation {
    @include size(100%, 100%);
    max-width: 1900px;
    max-height: 750px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;

    svg {
      position: absolute;
      right: $padding-left-right;
      top: 0;
      bottom: 0;
      z-index: 2;
      pointer-events: none;
    }
  }
}
@media (max-width: 1140px) {
  .intro__portfolio {
    .container_svg-animation {
      svg {
        display: none;
      }
    }
  }
}

@media (max-width: 725px) {
  .intro__portfolio {
    .container__title {
      width: 100%;
      padding: 16px;
      text-align: center;

      h1 {
        font-size: 38px;
        width: 80vw;
        line-height: 50px;
        //border: 1px solid red;
        margin: 0 auto;
        text-align: center;
      }
      .container_buttons {
        margin: 0 auto;
      }
    }
    .container_svg-animation {
      svg {
        display: none;
      }
    }
  }
}

@media (max-width: 520px) {
  .intro__portfolio {
    .container__title {
      margin-top: 16vh;
      padding: 16px;
      text-align: center;

      h1 {
        font-size: 38px;
        width: 100%;
        line-height: 50px;
        //border: 1px solid red;
        margin: 0 auto;
        text-align: center;
      }
      p {
        margin-top: 7vh;
      }
      .container_buttons {
        margin: 0 auto;
        @include flexCenter(column, space-evenly, center);
        @include size(200px, 170px);
      }
    }
    .container_svg-animation {
      svg {
        display: none;
      }
    }
  }
}
