/*Initializing CSS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  src: url(Montserrat/Montserrat-SemiBold.ttf);
  font-family: "Montserrat";
  font-display: block;
}

@font-face {
  src: url(Montserrat/Montserrat-Regular.ttf);
  font-family: "Montserrat text";
  font-display: block;
}

@font-face {
  src: url(Montserrat/Montserrat-Medium.ttf);
  font-family: "Montserrat medium";
  font-display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
textarea {
  font-family: "Montserrat text", sans-serif;
}

body {
  font-size: 16px;
  background-color: #303030;
}

.intro__portfolio {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  max-width: 1900px;
  max-height: 750px;
  background-image: url(../images/world.jpg);
  background-image: url(../images/world.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 25vh;
  z-index: 1;
}

.intro__portfolio .container__title {
  width: 60%;
  height: 400px;
  max-width: 700px;
  color: #f4f4f4;
  padding-left: 100px;
}

.intro__portfolio .container__title h1 {
  font-size: 52px;
  line-height: 60px;
  width: 600px;
  text-align: left;
}

.intro__portfolio .container__title p {
  margin-top: 10px;
  font-size: 18px;
}

.intro__portfolio .container__title button {
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f4f4f4;
  width: 150px;
  height: 45px;
  border: 1.5px solid #f4f4f4;
  margin-top: 40px;
  margin-right: 1em;
  cursor: pointer;
  border-radius: 0.2em;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.intro__portfolio .container__title button:hover {
  background-color: #07334b;
}

.intro__portfolio .container__svg {
  width: 39%;
  height: 400px;
  max-width: 700px;
  color: #f4f4f4;
}

.canvas {
  width: 100%;
  height: auto;
  max-width: 1900px;
  margin: 0 auto;
  background-color: transparent;
  overflow: hidden;
}

.container__projects {
  width: 100%;
  height: auto;
  max-width: 1900px;
  margin: 0 auto;
  background-color: #07334b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__projects .timeline {
  width: 5px;
  height: 2000px;
  background-color: #101010;
}

footer {
  width: 100%;
  height: 200px;
  max-width: 1900px;
  margin: 0 auto;
  color: #fff;
  background-color: #0a0a0a;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .info__footer {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .info__footer .icon__footer {
  width: 40px;
  padding-right: 7px;
}

footer .info__button {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

footer .info__button span {
  font-family: "Montserrat text";
  padding: 5px;
}

@media (max-width: 640px) {
  footer {
    font-size: 14px;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  footer .info__button {
    margin-top: 50px;
    width: 100%;
    height: 20px;
  }
}
/*# sourceMappingURL=portfolio.css.map */