/*Initializing CSS*/
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(Montserrat/Montserrat-SemiBold.ttf);
  font-family: "Montserrat";
  font-display: block;
}

@font-face {
  src: url(Montserrat/Montserrat-Regular.ttf);
  font-family: "Montserrat text";
  font-display: block;
}

@font-face {
  src: url(Montserrat/Montserrat-Medium.ttf);
  font-family: "Montserrat medium";
  font-display: block;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
textarea {
  font-family: "Montserrat text", sans-serif;
}
body {
  font-size: 16px;
  font-family: "Montserrat medium", sans-serif;
  background-color: #303030;
  color: #000;
}

//@import "./scrollbar";
/*The below file are the styles of the first section*/
@import "./portfolio1";
/*The below file are the styles of the second section*/
@import "./portfolio2";
/*The below file are the animations of the main svg rocket*/
@import "./portfolio3";
@import "./footer";
