/*Initializing CSS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  src: url(Montserrat/Montserrat-SemiBold.ttf);
  font-family: "Montserrat";
  font-display: block;
}

@font-face {
  src: url(Montserrat/Montserrat-Regular.ttf);
  font-family: "Montserrat text";
  font-display: block;
}

@font-face {
  src: url(Montserrat/Montserrat-Medium.ttf);
  font-family: "Montserrat medium";
  font-display: block;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
textarea {
  font-family: "Montserrat text", sans-serif;
}

body {
  font-size: 16px;
  font-family: "Montserrat medium", sans-serif;
  background-color: #303030;
  color: #000;
}

/*The below file are the styles of the first section*/
.intro__portfolio {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  max-width: 1900px;
  max-height: 750px;
  background-image: url(../images/world.jpg);
  background-image: url(../images/world.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.intro__portfolio .container__title {
  display: block;
  font-size: 16px;
  margin-top: 25vh;
  width: 60%;
  height: 400px;
  max-width: 700px;
  color: #f4f4f4;
  padding-left: 8vw;
  z-index: 1;
}

.intro__portfolio .container__title h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 60px;
  width: 600px;
  text-align: left;
}

.intro__portfolio .container__title p {
  margin-top: 10px;
  font-size: 18px;
}

.intro__portfolio .container__title button {
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f4f4f4;
  width: 150px;
  height: 45px;
  border: 1.5px solid #f4f4f4;
  margin-top: 40px;
  margin-right: 1em;
  cursor: pointer;
  border-radius: 0.2em;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.intro__portfolio .container__title button:hover {
  background-color: #07334b;
}

.intro__portfolio .container_svg-animation {
  width: 100%;
  height: 100%;
  max-width: 1900px;
  max-height: 750px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.intro__portfolio .container_svg-animation svg {
  position: absolute;
  right: 8vw;
  top: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}

@media (max-width: 1140px) {
  .intro__portfolio .container_svg-animation svg {
    display: none;
  }
}

@media (max-width: 725px) {
  .intro__portfolio .container__title {
    width: 100%;
    padding: 16px;
    text-align: center;
  }
  .intro__portfolio .container__title h1 {
    font-size: 38px;
    width: 80vw;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
  }
  .intro__portfolio .container_svg-animation svg {
    display: none;
  }
}

@media (max-width: 520px) {
  .intro__portfolio .container__title {
    margin-top: 16vh;
    padding: 16px;
    text-align: center;
  }
  .intro__portfolio .container__title h1 {
    font-size: 38px;
    width: 100%;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
  }
  .intro__portfolio .container__title p,
  .intro__portfolio .container__title button {
    margin-top: 7vh;
  }
  .intro__portfolio .container_svg-animation svg {
    display: none;
  }
}

/*The below file are the styles of the project cards section*/
/*********** Projects section ***********/
.container__projects {
  width: 100%;
  height: auto;
  max-width: 1900px;
  margin: 0 auto;
  background-color: #07334b;
  padding-top: 30px;
  padding-bottom: 60px;
}

.container__projects .timeline {
  width: 25px;
  height: auto;
  position: relative;
  margin-left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  /*****Color to the timeline******/
}

.container__projects .timeline::after {
  content: " ";
  background-color: #f4f4f4;
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
  left: 0;
}

.container__projects .timeline project-card {
  font-family: "Montserrat medium";
  position: relative;
  margin: 50px 0;
  margin-left: 80px;
  /* The circles on the timeline */
}

.container__projects .timeline project-card::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 100px;
  left: -92px;
  right: 0px;
  background-color: #07334b;
  border: 6px solid #f4f4f4;
  border-radius: 50%;
  z-index: 1;
}

.container__projects .timeline .img-container {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -40px;
  left: -25px;
  right: 0;
  z-index: 0;
}

.container__projects .timeline .img-container img {
  width: 100%;
  height: 100%;
}

@media (max-width: 940px) {
  .container__projects {
    padding: 30px 0;
  }
  .container__projects .timeline {
    margin-left: 10%;
  }
}

@media (max-width: 606px) {
  .container__projects {
    padding: 16px;
    padding-left: 20px;
  }
  .container__projects .timeline {
    margin-left: 0;
  }
  .container__projects .timeline::after {
    content: " ";
    background-color: #f4f4f4;
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .container__projects .timeline project-card {
    font-family: "Montserrat medium";
    position: relative;
    margin: 50px 0;
    margin-left: 40px;
    /* The circles on the timeline */
  }
  .container__projects .timeline project-card::after {
    content: "";
    left: -52px;
  }
}

@media (max-width: 480px) {
  .container__projects {
    padding: 16px 12px;
  }
  .container__projects .timeline {
    width: 100%;
    height: auto;
  }
  .container__projects .timeline::after {
    display: none;
  }
  .container__projects .timeline project-card {
    margin: 50px auto;
    /* The circles on the timeline */
  }
  .container__projects .timeline project-card::after {
    display: none;
  }
  .container__projects .timeline .img-container {
    display: none;
  }
  .container__projects .timeline .img-container img {
    width: 100%;
    height: 100%;
  }
}

/*The below file are the animations of the main svg rocket*/
#signal1 {
  -webkit-animation: signal 1.2s linear 0s infinite;
          animation: signal 1.2s linear 0s infinite;
}

#signal2 {
  -webkit-animation: signal 1.2s linear 0.2s infinite;
          animation: signal 1.2s linear 0.2s infinite;
}

#signal3 {
  -webkit-animation: signal 1.2s linear 0.3s infinite;
          animation: signal 1.2s linear 0.3s infinite;
}

@-webkit-keyframes signal {
  from {
    fill: transparent;
  }
  to {
    fill: #6c63ff;
  }
}

@keyframes signal {
  from {
    fill: transparent;
  }
  to {
    fill: #6c63ff;
  }
}

#space-ship {
  -webkit-animation: rocket 20s ease-in;
          animation: rocket 20s ease-in;
  z-index: 5;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes rocket {
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  75% {
    -webkit-transform: rotateZ(280deg);
            transform: rotateZ(280deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes rocket {
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  75% {
    -webkit-transform: rotateZ(280deg);
            transform: rotateZ(280deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

/*The below file are the form and about me section*/
.about {
  margin: 0 auto;
  width: 100%;
  height: 600px;
  background-color: #07334b;
  max-width: 1900px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.about .form, .about .me {
  z-index: 2;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .form form, .about .me form {
  border: 1px solid #f4f4f4;
  width: 70%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(7, 51, 75, 0.9);
  color: white;
  -webkit-box-shadow: 2px 2px 10px 3px rgba(255, 255, 255, 0.815);
          box-shadow: 2px 2px 10px 3px rgba(255, 255, 255, 0.815);
}

.about .form form .form_container, .about .me form .form_container {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.about .form form .form_container input, .about .me form .form_container input {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #fff;
  padding: 7px 5px;
  padding-top: 30px;
  background-color: transparent;
  outline: none;
  border: none;
}

.about .form form .form_container input:focus + label span, .about .me form .form_container input:focus + label span,
.about .form form .form_container input:valid + label span,
.about .me form .form_container input:valid + label span {
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  font-size: 14px;
  font-weight: lighter;
  opacity: 80%;
}

.about .form form .form_container input:focus + label::after, .about .me form .form_container input:focus + label::after,
.about .form form .form_container input:valid + label::after,
.about .me form .form_container input:valid + label::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about .form form .form_container label, .about .me form .form_container label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.about .form form .form_container label::after, .about .me form .form_container label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid greenyellow;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about .form form .form_container label span, .about .me form .form_container label span {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-bottom: 5px;
  padding-left: 6px;
}

.about .form form .form_container .submit-button, .about .me form .form_container .submit-button {
  padding: 8px 7px;
  width: 150px;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about .form form .form_container .submit-button:hover, .about .me form .form_container .submit-button:hover {
  background-color: green;
  width: 200px;
}

.about .form form .textarea_container, .about .me form .textarea_container {
  width: 80%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .form form .textarea_container textarea, .about .me form .textarea_container textarea {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  padding: 5px 5px;
  padding-top: 40px;
  outline: none;
  border: none;
}

.about .form form .textarea_container textarea:focus + label span, .about .me form .textarea_container textarea:focus + label span,
.about .form form .textarea_container textarea:valid + label span,
.about .me form .textarea_container textarea:valid + label span {
  -webkit-transform: translateY(-450%);
          transform: translateY(-450%);
  font-size: 14px;
  font-weight: lighter;
  opacity: 80%;
}

.about .form form .textarea_container textarea:focus + label::after, .about .me form .textarea_container textarea:focus + label::after,
.about .form form .textarea_container textarea:valid + label::after,
.about .me form .textarea_container textarea:valid + label::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

footer {
  width: 100%;
  height: 200px;
  max-width: 1900px;
  margin: 0 auto;
  color: #fff;
  background-color: #0a0a0a;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .info__footer {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .info__footer .icon__footer {
  width: 40px;
  padding-right: 7px;
}

footer .info__button {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

footer .info__button span {
  font-family: "Montserrat text";
  padding: 5px;
}

@media (max-width: 640px) {
  footer {
    font-size: 14px;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  footer .info__button {
    margin-top: 50px;
    width: 100%;
    height: 20px;
  }
}
/*# sourceMappingURL=portfolio.css.map */