/*Initializing CSS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  src: url(Montserrat/Montserrat-SemiBold.ttf);
  font-family: "Montserrat";
}

@font-face {
  src: url(Montserrat/Montserrat-Regular.ttf);
  font-family: "Montserrat text";
}

@font-face {
  src: url(Montserrat/Montserrat-Medium.ttf);
  font-family: "Montserrat medium";
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
textarea {
  font-family: "Montserrat text", sans-serif;
}

body {
  font-size: 16px;
  background-color: #303030;
}

i {
  font-size: 12px;
}

.intro {
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  max-width: 1900px;
  background-image: url(../images/bg-desktop2.jpg);
  background-position: center -100px;
}

.intro header {
  width: 100%;
  height: 4.375em;
  color: #f4f4f4;
  background-color: rgba(40, 40, 40, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  position: relative;
}

.intro header .company-name {
  width: 17.5em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3vw;
}

.intro header .company-name .icon {
  width: 3.75em;
}

.intro header .company-name .title {
  font: 1.875em "Montserrat";
  letter-spacing: 1.5px;
}

.intro header nav {
  margin-right: 3vw;
}

.intro header nav .menu-mobile {
  display: none;
  position: absolute;
  top: 13px;
  right: 25px;
  z-index: 1;
  width: 30px;
  cursor: pointer;
}

.intro header nav .mobileNav {
  display: none;
}

.intro header nav .desktop {
  width: 30vw;
  max-width: 31.25em;
  min-width: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro header nav .desktop li {
  list-style: none;
  font: 1.125em "Montserrat text";
  cursor: pointer;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.intro header nav .desktop li:hover {
  border-bottom: 1px solid #f4f4f4;
}

.intro .tocenter {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .tocenter .bg-text {
  font-size: 16px;
  background-color: rgba(40, 40, 40, 0.9);
  width: 62.5em;
  height: 8em;
  max-width: 1200px;
  color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  border-radius: 0.9375em;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.intro .tocenter .bg-text .intro-message {
  margin-top: -10px;
  font: 2.375em "Montserrat text";
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
}

.intro .tocenter .bg-text .intro-caption {
  margin-top: 10px;
  text-align: right;
  padding-right: 3.5em;
  font: 1em "Montserrat text";
}

@media (max-width: 1000px) {
  .intro header {
    font-size: 14px;
  }
  .intro .tocenter .bg-text {
    font-size: 12px;
  }
}

@media (max-width: 759px) {
  .intro header {
    font-size: 12px;
  }
  .intro header .company-name {
    margin-left: -20px;
  }
  .intro header .company-name .title {
    letter-spacing: 0.7px;
  }
  .intro .tocenter .bg-text {
    margin-top: 100px;
    font-size: 14px;
    width: 60vw;
    height: 55vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 30px;
  }
  .intro .tocenter .bg-text .intro-message {
    margin-top: -10px;
    letter-spacing: 2px;
    line-height: 60px;
    text-align: center;
    width: 100%;
  }
  .intro .tocenter .bg-text .intro-caption {
    display: none;
  }
}

@media (max-width: 600px) {
  .intro {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    max-width: 1900px;
    background-image: url(../images/intro-mobile.jpg);
    background-repeat: no-repeat;
    background-position: cover;
  }
  .intro header nav .menu-mobile {
    display: block;
    -webkit-transition: 0.6s all ease-in-out;
    transition: 0.6s all ease-in-out;
  }
  .intro header nav .menu-mobile:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .intro header nav .desktop {
    display: none;
  }
  .intro header nav .mobileNav {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 53px;
    right: 0;
    width: 0;
    height: 92vh;
    color: #303030;
    background-color: rgba(244, 244, 244, 0.9);
    z-index: 2;
    -webkit-transition: 0.6s all ease-in-out;
    transition: 0.6s all ease-in-out;
  }
  .intro header nav .mobileNav:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .intro header nav .mobileNav #closeMobile .closeMobile {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .intro header nav .mobileNav li {
    list-style: none;
    font: 1.5em "Montserrat text";
    margin: 16px 30px;
    width: 70%;
    border-bottom: 1px solid rgba(40, 40, 40, 0.8);
  }
  .intro .tocenter .bg-text {
    width: 80vw;
    padding: 20px;
    height: auto;
  }
}

.presentation {
  width: 100%;
  height: 48.875em;
  margin: 0 auto;
  max-width: 1900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbfbfb;
  font-size: 16px;
  padding: 4em 1em 0 1em;
}

.presentation .text {
  width: 33.125em;
  height: 37em;
  margin-left: 2em;
}

.presentation .text p {
  font: 1em "Montserrat text";
  line-height: 2.1em;
}

.presentation .image1 {
  margin-right: 2em;
}

.presentation .image1 img {
  width: 31.25em;
}

@media (max-width: 1150px) {
  .presentation {
    font-size: 12px;
  }
}

@media (max-width: 850px) {
  .presentation {
    width: 100%;
    height: auto;
  }
  .presentation .text {
    margin: -20px auto 0 auto;
  }
  .presentation .image1 {
    margin: -100px auto 0 auto;
    padding: 0 1.3em;
  }
}

@media (max-width: 400px) {
  .presentation .text {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  .presentation .image1 {
    margin-top: 25px;
  }
  .presentation .image1 img {
    width: 80vw;
    margin: 0 auto;
  }
}

.services {
  background-color: #fbfbfb;
  width: 100%;
  height: 36.25em;
  max-width: 1900px;
  margin: 0 auto;
  font-size: 16px;
  padding-top: 1em;
}

.services .title-services {
  font: 1.5em "Montserrat medium";
  text-align: center;
  letter-spacing: 1px;
}

.services .container-cards {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 200px;
}

.services .container-cards .card {
  width: 260px;
  height: 345px;
  background-color: #ffff;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.services .container-cards .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0.5px 4px 10px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0.5px 4px 10px 5px rgba(255, 255, 255, 0.5);
}

.services .container-cards .card:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0.5px 4px 10px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0.5px 4px 10px 5px rgba(255, 255, 255, 0.5);
}

.services .container-cards .card #webdev, .services .container-cards .card #soporte, .services .container-cards .card #redes {
  width: 100%;
  height: 145px;
  border-radius: 20px 20px 0 0;
  background-image: url(../images/webdev.png);
}

.services .container-cards .card #soporte {
  background-image: url(../images/soporte.png);
}

.services .container-cards .card #redes {
  background-image: url(../images/redes.png);
}

.services .container-cards .card .text-card {
  width: 100%;
  height: auto;
}

.services .container-cards .card .text-card h3 {
  font: 18px "Montserrat";
  margin-top: 20px;
  padding-left: 20px;
}

.services .container-cards .card .text-card .caption-card {
  font: 12px "Montserrat text";
  padding: 7px 20px 0 20px;
  width: 100%;
  height: 110px;
  line-height: 20px;
}

.services .container-cards .card .text-card .info {
  font: italic 12px "Montserrat text";
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding-left: 20px;
}

@media (max-width: 820px) {
  .services {
    width: 100%;
    height: 90.25em;
    padding: 40px 0;
  }
  .services .title-services {
    padding-top: 40px;
  }
  .services .container-cards {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 630px) {
  .services .title-services {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .services {
    padding-top: 30px;
  }
}

.quotes {
  width: 100%;
  height: auto;
  max-width: 1900px;
  margin: 0 auto;
  background-color: #003a4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  padding: 50px 10px;
}

.quotes h3 {
  width: 80%;
  height: auto;
  margin: 0 auto;
  color: #fff;
  font: italic 1.5em "Montserrat text";
  text-align: center;
  line-height: 32px;
}

.quotes p {
  font: 0.95em "Montserrat text";
  text-align: right;
  width: 50%;
  height: 20px;
  margin: 10px auto 0 auto;
  color: #f0f0f0;
}

@media (max-width: 820px) {
  .quotes {
    font-size: 14px;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    padding: 70px 10px;
  }
}

@media (max-width: 500px) {
  .quotes h3 {
    font: italic 1em "Montserrat text";
  }
  .quotes p {
    font: 0.7em "Montserrat text";
  }
}
/*# sourceMappingURL=styles.css.map */