/*Initializing CSS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  src: url(Montserrat/Montserrat-SemiBold.ttf);
  font-family: "Montserrat";
}

@font-face {
  src: url(Montserrat/Montserrat-Regular.ttf);
  font-family: "Montserrat text";
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
textarea {
  font-family: "Montserrat text", sans-serif;
}

body {
  font-size: 16px;
  background-color: #303030;
}

i {
  font-size: 12px;
}

.intro {
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  max-width: 1900px;
  background-image: url(../images/bg-desktop2.jpg);
  background-position: center -100px;
}

.intro header {
  width: 100%;
  height: 4.375em;
  color: #f4f4f4;
  background-color: rgba(40, 40, 40, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.intro header .company-name {
  width: 17.5em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3vw;
}

.intro header .company-name .icon {
  width: 3.75em;
}

.intro header .company-name .title {
  font: 1.875em "Montserrat";
  letter-spacing: 1.5px;
}

.intro header nav {
  margin-right: 3vw;
}

.intro header nav ul {
  width: 30vw;
  max-width: 31.25em;
  min-width: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro header nav ul li {
  list-style: none;
  font: 1.125em "Montserrat text";
  cursor: pointer;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.intro header nav ul li:hover {
  border-bottom: 1px solid #f4f4f4;
}

.intro .tocenter {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .tocenter .bg-text {
  font-size: 16px;
  background-color: rgba(40, 40, 40, 0.9);
  width: 62.5em;
  height: 8em;
  max-width: 1200px;
  color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  border-radius: 0.9375em;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.intro .tocenter .bg-text .intro-message {
  margin-top: -10px;
  font: 2.375em "Montserrat text";
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
}

.intro .tocenter .bg-text .intro-caption {
  margin-top: 10px;
  text-align: right;
  padding-right: 3.5em;
  font: 1em "Montserrat text";
}

@media (max-width: 1000px) {
  .intro header {
    font-size: 14px;
  }
  .intro .tocenter .bg-text {
    font-size: 12px;
  }
}

@media (max-width: 759px) {
  .intro header {
    font-size: 12px;
  }
  .intro header nav {
    display: none;
  }
  .intro .tocenter .bg-text {
    margin-top: 100px;
    font-size: 14px;
    width: 60vw;
    height: 55vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 30px;
  }
  .intro .tocenter .bg-text .intro-message {
    margin-top: -10px;
    letter-spacing: 2px;
    line-height: 60px;
    text-align: center;
    width: 100%;
  }
  .intro .tocenter .bg-text .intro-caption {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */